<h1>Manufacturer Index</h1>

<% @manufacturers.each do |m| %>

<li>Name: <%= @manufacturer.name %></li><br><br>

<li>Established: <%= @manufacturer.established %></li><br><br>

<li>Bio: <%= @manufacturer.bio %></li><br><br>

<% end %>